/* NARVAEZ BETZABETH 2018106117 */

.h1 {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

figure {
    display: inline;
}

th, td {
    text-align: center;
}

th {
    font-size: medium;
    font-weight: bold;
}