/* NARVAEZ BETZABETH 2018106117 */

form {
    align-self: center;
    margin: 0 auto;
    width: 75%;
}

input.right {
    float: right;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

img:hover {
    transform: scale(1.5);
}

figure {
    display: inline;
}

figcaption {
    text-align: center;
}

th, td {
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
}

th {
    font-size: large;
    font-weight: bold;
}

/*input.right {
    display: block;
    float: right;
}
*/

.form_boxes {
    width: 350px;
    height: 200px;
    display: inline;
    float: left;
    text-align: center;
}

.form_b {
    width: 350px;
    height: 200px;
    border: 1px solid black;
}