/* NARVAEZ BETZABETH 2018106117 */

form {
    margin: 0 auto;
    width: 50%;
}

h1 {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

figure {
    display: inline;
}

th, td {
    text-align: center;
}

th {
    font-size: large;
    font-weight: bold;
}

